@media only screen and (max-device-width: 480px){
body
{
	background-color: white;
}
.head-logo
{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px; 
	float: left;
	font-family: Troika;
	font-size: 36px;
	text-align: center;
	overflow: hidden;
	color: black;
}
.headline
{
	padding-top: 50px;
	margin-bottom: 20px;
	font-family: Troika;
	font-size: 45px;
	text-align: center;
}
header
{
	height: 500px;
	width: 100%;
	overflow: hidden;
	background-image: url('/include/img/background.jpg');
	background-size: 1500px 800px;
}
.header-block
{
	padding-top: 10px;
	height: 100%;
	width: 600px; 
	text-align: center;
	margin: auto;
	font-family: Troika;
	font-size: 32px;
	text-shadow: black 0 0 20px;
	color: white;
}
.header-block > h2
{
	font-size: 45px;
}
.header-button
{
	height: 60px;
	width: 300px;
	border-radius: 30px;
}
.card-block
{
	width: 100%;
	height: 100%;
  	align-items: center;
  	align-content: center;
  	background-color: lightgreen;
	background-color: white;
	padding-bottom: 30px;
}
.card_block_line
{
	display: flex;
	flex-direction: row;
  	justify-content: center;
}
.info-card
{
	height: 420px;
	width: 450px;
	margin: 20px 40px 20px 40px; /*впнл*/
}
.info-head
{
	height:90px;
	width: 400px;
	display: flex;
}
.info-ico
{
	height: 90px;
	width: 90px;
	border-radius: 90%;
	border: 2.5px solid;
	background-color: #F4F0F0;
}
.info-ico > img 
{
	margin-top: 12px;
	margin-left: 12px;
	width: 70%;
	height: 70%;
}
.info-headline
{
	height: 90px;
	width: 310px;
	line-height: 90px;
	text-align: center;
	font-family: Troika;
	font-size: 34px;
	/*background-color: lightgreen;*/
}
.info-text
{
	display: block;
	margin-left: 90px;
	font-size: 26px;
	max-height: 320px;
	font-family: Troika;
	
}
.traning-block
{
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
	text-align: center;	
  	align-items: center;
  	align-content: center;
	background-color: rgb(61, 61, 61);
	color: white;
}
.traning-text
{
	font-family: Troika;
	font-size: 30px;
	text-align: center;
	margin: 0px 180px 0px 180px; /*впнл*/ 
}
.traning-text > a
{
	text-decoration: none;
	color: #d3dbd3;
}

.traning-button
{
	width: 300px;
	height: 60px;
	margin-top: 20px;
	border-radius: 50px;
	font-size: 25px; 
    font-family: Troika;
}
.achiv-block
{
	width: 100%;
	height: 100%;
	padding-bottom: 120px;
	text-align: center;	
  	align-items: center;
  	align-content: center;
	background-color: white;
	color: black;
}
.achiv-headline
{
	font-family: Troika;
	font-size: 38px;
	margin-bottom: 30px;
}
.win-block
{
	display: block;
	flex-direction: row;
  	justify-content: space-around;
  	margin: 0px 100px 0px 100px;
}
.win-block-1
{
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
	margin-bottom: 80px;
}
.win-block-2
{
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
}
.org-block
{
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
  	margin: 0px 250px 0px 250px;
}
.achiv-ico
{
	height: 180px;
	width: 180px;
	border-radius: 90%;
	background-color: white;
	font-family: Troika;
	font-size: 28px;
}
.achiv-ico > img 
{
	width: 100%;
	height: 100%;
	border-radius: 100px;
}
.contact-block
{
	width: 100%;
	height: 100%;
	padding-bottom: 140px;
	text-align: center;	
  	align-items: center;
  	align-content: center;
	background-color: rgb(61, 61, 61);;
	color: white;
}
.team-block
{
	width: 100%;
	height: 260px;

	font-family: Troika;
	font-size: 25px;
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	padding: 0px auto 0px auto;
  	margin-bottom: 20px;

}
.team-img
{
	width: 195px;
	height: 195px;
	border-radius: 110px;
	margin: 0px 20px 0px 20px;
	border: 3px solid white;

}
.social-block
{
	width: 100%;
	height: 220px;

	font-family: Troika;

	display: block;
	flex-direction: row;
  	justify-content: center;
}
.social-text
{
	margin: 0 auto 30px auto;
	width: 80%;
	height: 80px;
	font-size: 30px;
}
.social-ico
{
	height: 100px;
	display: flex;
	flex-direction: row;
  	justify-content: center;
}
.social-ico-img
{
	width: 80px;
	height: 80px;
	margin: 20px;
}
.mail-contact-block
{
	width: 100%;
	height: 300px;

	font-family: Troika;
	font-size:28px;

	display: block;
	flex-direction: row;
  	justify-content: space-around;

}
.mail-input
{
	text-align: center;	
	width: 300px;
	border-radius: 10px;	
}
.mail-input-title
{
	padding: 8px;
	padding-right: 40px;
}
.mail-input-mes
{
	padding: 8px;
	padding-right: 42px;
}
.mail-input-cont
{
	padding: 8px;
	margin-left: 24px;
}
.mail-button
{
	width: 260px;
	height: 40px;
	margin-left: 100px;
	border-radius: 10px;
}
footer
{
	height: 160px;
	width: 100%;
	padding-top: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
}
footer > a
{
	color: white;
	text-decoration: none;
}
}